@model IndexViewModel

@{
    ViewData["Title"] = "Welcome!";
}


@if (!Model.Cars.Any())
{
	<div class="jumbotron">
		<h1 class="display-4">Welcome to the best place for renting cars!</h1>
		<p class="lead">There are no cars in the system currently available so why don't you add one?</p>
		<hr class="my-4">
		<p class="lead">
			<a asp-controller="Cars" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add Car</a>
		</p>
	</div>
}


<div class="mb-5"></div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner">
		
		@for (int i = 0; i < Model.Cars.Count; i++)
		{
			var car = Model.Cars[i];
			<div class="carousel-item @(i == 0 ? "active" : string.Empty)">
				<img class="d-block w-100" src="@car.ImageUrl" alt="@car.Brand @car.Model">
				<div class="carousel-caption d-none d-md-block">
					<h5>@car.Year @car.Brand @car.Model</h5>
				</div>
			</div>
		}

	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>

<div class="mb-5"></div>

<div class="jumbotron">
	<div class="row">
		<h2 class="col-md-4 text-center">
			@Model.TotalCars cars
		</h2>
		<h2 class="col-md-4 text-center">
			@Model.TotalUsers Users
		</h2>
		<h2 class="col-md-4 text-center">
			@Model.TotalRents Rents
		</h2>
	</div>
</div>